* {
    margin: 0;
    padding: 0;
    /* border: 1px solid black; Just for development purpose */
}

body {
    background-color: lightgreen;
    background-image: linear-gradient(lightGreen, #15fdb0, green);
    background-position: fixed;
    background-size: cover;
    height: 100vh;
    max-width: 100vw;
    overflow-x: hidden;
}

.slider {
    overflow-x: hidden;
}


.slider img {
    position: absolute;
    width: 80%;
    z-index: 0;
    /* transition: 5s; */
    /* user-drag: none;   */
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.slider img#middle {
    left: 10%;
    height: 100vh;
    width: 80%;
}

.slider img#left {
    top: 12vh;
    height: 76vh;
    left: 0;
}

.slider img#right {
    top: 12vh;
    height: 76vh;
    left: 90%;
}

.slider span.btn-slider {
    position: absolute;
    top: 48vh;
    background-color: rgba(255, 255, 255, 0.75);
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 8px rgba(0,0,0,0.6);
}

.slider span#btn_left {
    left: 12%;
}

.slider span#btn_right {
    left: 85.5%;
}

/* On LEFT BUTTON click or left direction */

@keyframes middle-image-moves-to-left {
    0% {
        left: 10%;
        height: 100vh;
        top: 0;
        width: 80%;
        opacity: 1;
    }

    50% {
        left: -700px;
        top: 12vh;
        height: 76vh;
        opacity: 0.6;
    }

    100% {
        left: -700px;
        top: 12vh;
        height: 76vh;
        opacity: 0;
    }
}

@keyframes right-image-moves-to-middle {
    0% {
        left: 90%;
        height: 76vh;
        width: 80%;
    }

    50% {
        left: 10%;
        top: 0;
        height: 100vh;
    }

    100% {
        left: 10%;
        top: 0;
        height: 100vh;
    }
}

@keyframes left-image-moves-to-transparent {
    0% {
        opacity: 1;
    }

    20% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}


/* On RIGHT BUTTON click or RIGHT direction */
@keyframes middle-image-moves-to-right {
    0% {
        left: 10%;
        height: 100vh;
        top: 0;
        width: 80%;
        opacity: 1;
    }

    50% {
        left: 90%;
        top: 12vh;
        height: 76vh;
        opacity: 0.6;
    }

    100% {
        left: 90%;
        top: 12vh;
        height: 76vh;
        opacity: 0;
    }
}

@keyframes left-image-moves-to-middle {
    0% {
        left: -700px;
        height: 76vh;
    }

    50% {
        left: 10%;
        top: 0;
        height: 100vh;
    }

    100% {
        left: 10%;
        top: 0;
        height: 100vh;
        width: 80%
    }
}

@keyframes right-image-moves-to-transparent {
    0% {
        margin: 0;
        opacity: 1;
    }

    20% {
        margin-left: 25px;
        opacity: 0;
    }

    100% {
        margin-left: 40px;
        opacity: 0;
    }
}

/* *************************************************** */

.dot-slider {
    position: absolute;
    width: 100%;
    height: 36px;
    bottom: 10vh;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.dot-slider span.dot {
    width: 12px;
    height: 12px;
    margin:8px;
    border: 0;
    box-shadow: 0 0 9px black;
    border-radius: 50%;
    background-color: #eee;
    z-index: 9999;
    cursor: pointer;
}

.dot-slider span.activeDot {
    width: 12px;
    height: 12px;
    box-shadow: 0 0 8px white;
}

